DATABASE_URL="postgresql://postgres:postgres@localhost:5433/controle_transporte?schema=public"
JWT_SECRET="dev-local-controle-transporte-jwt-secret-32"
JWT_EXPIRES_IN="8h"
PORT=3000
FRONTEND_URL="http://localhost:5173"
